/*-----------PAGES------------*/
/*GLOBAL*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	margin: 0;
	padding: 0;
	height: 100%;
}

body{
	background: #1A2A40;
	font-size: 0.9rem;
	color: #EBF4F7;
	line-height: 1.5;
	min-height: 100%;
	position: relative;
}

.container{
	margin: auto;
	text-align: center;
	padding-bottom: 7.5em;
}

/*HEADER*/
header .nav_bar{
	position: fixed;
	background: #677589;
	width: 100%;
	height: 5.5rem;
	border-bottom: 3px solid #F2A30F;
	z-index: 2;
}

header .mini_nba_logo{
	width: 7rem;
	float: left;
	margin: 1rem 0 0 2rem;
}

header nav{
	float: right;
	margin-top: 1.8rem;
    font-family: 'Russo One', sans-serif;
}

header #horizontal_menu .current_page{
	color: #064771
}

#horizontal_menu ul{
	margin: 0;
	padding: 0;
}

#horizontal_menu li{
	float: left;
	display: inline;
	padding: 0 1.5rem 0 0rem;
}

#horizontal_menu a{
	text-decoration: none;
	color: #EBF4F7;
}

#horizontal_menu a:hover{
	color: #F2A30F;
}

.nav_bar #hamburger_menu{
	float: right;
	background: #677589;
	display: none;
}

#hamburger_menu #hamburger_menu_list{
	list-style-type: none;
	position: absolute;
	display: none;
	font-family: 'Russo One', sans-serif;
	float: right;
	top: 70px;
	right: 0px;
	background: #677589;
	width: 200px;
}

#hamburger_menu_list li{
	padding: 10px;
}

#hamburger_menu_list a{
	text-decoration: none;
	color: #EBF4F7;
}

#hamburger_menu_list .current_page{
	color: #064771;
}

#hamburger_menu_list a:hover{
	color: #F2A30F;
}

#hamburger_menu #hamburger_toggle{
	position: absolute;
	top: 25px;
	right: 30px;
	width: 30px;
	height: 30px;
	z-index: 1;
	opacity: 0;
}

#hamburger_menu #hamburger{
	position: absolute;
	top: 25px;
	right: 30px;
	background-image: url(../img/icons/hamburger.png);
	background-size: contain;
	width: 30px;
	height: 30px;
}

#hamburger_menu #hamburger_toggle:hover{
	cursor: pointer;
}

#hamburger_menu #hamburger_toggle:checked ~ #hamburger_menu_list{
	display: block;
}

#hamburger_menu #hamburger_toggle:checked ~ #hamburger{
	background-image: url(../img/icons/close.png)
}

/*GRID*/
.container .pages_grid_content{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	padding: 4rem;
	padding-top: 8rem;
	max-width: 1500px;
	margin: auto;
}

.pages_grid_content .video_box{
	display: flex;
    align-items: flex-start;
    flex-direction: column;
	min-width: 200px;
}

.pages_grid_content .video_box:hover{
	cursor: pointer;
}

.pages_grid_content .video_box p{
	font-family: 'Titillium+Web', sans-serif;
	align-self: center;
	color: #EBF4F7;
	font-size: 15px;
}

.pages_grid_content .video_box span{
	font-weight: bold;
}

.pages_grid_content .video_box .video_title{
	font-family: 'Russo One', sans-serif;
	color: #F2A30F;
}

/*FOOTER*/
footer{
	height: 7.5em;
	height: auto;
	text-align: cneter;
	background: #677589;
	opacity: 0.9;
	border-top: 3px solid #F2A30F;
	position: absolute;
	bottom: 0;
	width: 100%;
}

#footer_content{
	margin: auto;
	width: 100%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

footer p{
	color: #1A2A40;
	font-size: 0.6rem;
	margin: 0 auto;
	padding: 2px;
    font-family: 'Russo One', sans-serif;
}

footer .footer_div{
	float: left;
	width: 31%;
	margin: 0 auto;
	text-align: center;
}

footer #footer_copyrights{
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

footer #footer_copyrights a{
	text-decoration: none;
}

footer #footer_copyrights span{
	color: #064771;
}

footer .footer_div #mini_mch_logo{
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

footer .footer_div #mini_mch_logo_img{
	width: 70px;
}

footer #footer_social{
	margin: 0 auto;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding-left: 7%;
	padding-right: 7%;
}

footer #footer_social img{
	width: 20px;
}

footer #footer_social a{
	text-align: center;
	margin-left: 2rem;
	margin-right: 2rem;
	margin: auto;
}

footer #footer_social img:hover{
	opacity: 0.5;
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	transform: scale(1.3);
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

/*MEDIA QUERIES*/
@media (min-width: 1310px){
	.container .pages_grid_content{
		grid-template-columns: repeat(5, 1fr);
	}
	
	.pages_grid_content .video_box{
		max-width: 700px;
	}
}

@media (max-width: 925px){
	.nav_bar #horizontal_menu{
		display: none;
	}
	
	.nav_bar #hamburger_menu{
		display: block;
	}
	
	.container .pages_grid_content{
		grid-template-columns: repeat(3, 1fr);
	}
	
	footer #footer_copyrights{
		margin-top: 20px;
	}
	
	footer .footer_div p{
		font-size: 10px;
	}
	
	footer .footer_div #mini_mch_logo{
		width: 70px;
	}
	
	footer #footer_social img{
		width: 15px;
		margin-top: 5px;
	}
}

@media (max-width: 768px){
	.container{
		padding-bottom: 12em;
	}
	
	.container .pages_grid_content{
		grid-template-columns: repeat(2, 1fr);
		padding: 1rem;
	}
	
	footer{
		height: 12em;
		display: block;
		height: auto;
	}
	
	footer #footer_content{
		display: block;
		margin: 0 auto;
	}
	
	footer .footer_div{
		float: none;
		text-align: center;
		width: 100%;
		margin: 0 auto;
		display: block;
	}
	
	footer #footer_copyrights{
		margin: 0;
		margin-top: 10
	}
	
	footer #footer_social{
		float: none;
		width: 100%;
		margin: 0;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	footer #footer_social a{
		margin-left: 20px;
		margin-right: 20px;
	}
}

@media (max-width: 550px){
	.container .pages_grid_content{
		grid-template-columns: repeat(1, 1fr);
	}
	
	.video_box iframe{
		height: 200px;
	}
}